<h1>TESTingg</h1>
<ul>
	<% for (var i=0; i<scores.length; i++) { %>
		<li><%= scores[i].name + ' ' + scores[i].score %></li>
	<% } %>
</ul>
<script src="/js/socket.io.js"></script>
<script>
  var socket = io.connect();
  socket.on('news', function (data) {
    console.log(data);
    socket.emit('my other event', { my: 'data' });
  });
</script>