<div id="content"></div>
<div id="panel">
	<h4>Game ID: <span id="gameid"></span></h4>
	<div id="status">Controller not connected</div>
	<div id="updates"></div>
	<br/>
	<div id="info"></div>
</div>
<script data-main="js/main" src="js/require.js"></script>