<!DOCTYPE html>
<html>
  <head>
    <title>Socket Play<% if (title != '') { %> | <%= title %><% } %></title>
    <link rel='stylesheet' href='/css/style.css' />
	<script src="/socket.io/socket.io.js"></script>
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  </head>
  <body>
    <%- body %>
  </body>
</html>