<!DOCTYPE html>
<html>
  <head>
    <title>Socket Play<% if (title != '') { %> | <%= title %><% } %></title>
    <link rel='stylesheet' href='/css/style.css' />
	<script src="/js/jquery.js"></script>
	<script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <%- body %>
  </body>
</html>